<div></div>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <!--check asset path for background change-->
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Welcome to Attendance Tracker</h1>
    <p>Please swipe your ID to log in.</p>
    <!--<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Getting Started with Ruby</a>-->
    <!--<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Please be aware that if this your first time logging into our system, you will be prompted to enter your name and UIN after swiping your card.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Information on Attendance Tracker</h3>
      <ul>
        <li>Access Allowed: Admin or Member</li>
        <li>Track your attendance progress for class, organizations, and/or work.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Your Attendance</h3>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="alert alert-info text-center" role="alert">
    Footer
  </div>
</div>
